<h1>{{title}}</h1>

<label for="ajout">Ajouter une tache</label><br>
<textarea name="ajout" id="ajout" cols="30" rows="3" placeholder="ajouter une tâche" [(ngModel)]="todo"></textarea><br>
<button (click)="addTodo()">Enregistrer la tache</button>

<br>

<ul role="main">
  <!-- <li>acheter du lait <button>x</button> </li>
  <li>acheter de la coke <button>x</button> </li>
  <li>acheter un flingue <button>x</button> </li> 
  on recupere la notion de valeur/index pour pouvoir remove le todo de l'array -->
  <li *ngFor="let todo of todolistFiltre; let index=index"
  [class.done]="todo.isDone"
  (click)="toggleTodo(todo)"
  >{{todo.libelle}} <button (click)="deleteTodo(index)">x</button> </li>
</ul>

<h2>Montrer les tâches:</h2>
<!-- myvers. , works ! <button (click)="displayTodo('all')">Toutes</button><button (click)="displayTodo('done')">Completées</button><button (click)="displayTodo('pending')">Actives</button>
--> <button (click)="filterAll()">Toutes</button><button (click)="filterCompleted()">Completées</button><button (click)="filterActives()">Actives</button>